<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <title>Buy</title>
</head>
<body>
  {% include "default/header.html" %}
  <div class="login">
    <div class="login-page">
      <div class="form">
        <form class="login-form" action="{% url 'buy'  %}" method="POST">
          {% csrf_token %}
          <input type="text" placeholder={{name_park}} name="Park" value={{name_park}} readonly/>
          <input type="text" placeholder="{{travel_year}}-{{travel_month}}-{{travel_day}}" name="t_date" value="{{travel_year}}-{{travel_month}}-{{travel_day}}" readonly=""/>
          <label for="">Seleccione la cantidad de entradas de tipo normal</label>
          <select name="lista_normal" id="">
            {% for x in n_tickets %}
              <option>{{x}}</option>
            {% endfor %}
          </select>
      
          <label for="">Seleccione la cantidad de entradas de tipo fastpass</label>
          <select name="lista_fastpass" id="">
            {% for x in fp_tickets %}
              <option>{{x}}</option>
            {% endfor %}
          </select>

          <input type="email" placeholder=Email name="Email" required/>
          <input type="password" placeholder=password name="Password" required/>
          
          <button type="submit">Buy</button>
        </form>
        
      </div>
    </div>
  </div>

  {% include "default/footer.html" %}

</body>
</html>