
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
  <title>Calendar</title>
</head>
<body>

   {% include "default/header.html" %}

   <div class="cuerpo">
      <div class="calendar">
         <div class="calendar__picture">
            <h3>{{month_name}}</h3>
            <h4>{{year}}</h4>

            <form class="botones" action="{% url 'calendar_prev' park_str=park %}" method='GET'>
               <button  class="button" type='submit'>«</button>
               <input type="hidden" name="month" value="{{actual_month_number}}">
            </form>

            <form class="botones" action="{% url 'calendar_next' park_str=park %}" method='GET'>
               <span><button class="button"  type='submit'>»</button></span>
               <input type="hidden" name="month" value="{{actual_month_number}}">
            </form>
               
         </div>

         <div class="calendar__date">
            <div class="calendar__day">M</div>
            <div class="calendar__day">T</div>
            <div class="calendar__day">W</div>
            <div class="calendar__day">T</div>
            <div class="calendar__day">F</div>
            <div class="calendar__day">S</div>
            <div class="calendar__day">S</div>
            {% for week in cal %}
               {% for day in week %}
                  {% if today_year == year %}
                     {% if actual_month_number > today_month_number %}  
                        {% if day == 0 %}
                           <div>
                              <p> </p>   
                           </div> 
                        {% else %}
                           <div class="calendar__number">
                              <a href="{% url 'pago' y=year m=actual_month_number d=day park_str=park %}">{{day}}</a>    
                           </div>
                        {% endif %}

                     {% elif actual_month_number == today_month_number %}
                        {% if day >= today_day_number  %}
                           <div class="calendar__number"> 
                              <a href="{% url 'pago' y=year m=actual_month_number d=day park_str=park %}">{{day}}</a>     
                           </div>
                        {%elif day == 0%}
                           <div>
                              <p> </p>   
                           </div> 
                        {% else %}
                           <div class="calendar__number_passed">
                              <p>{{day}}</p> 
                           </div>
                        {% endif %} 
                        
                     {% else %}
                        {% if day == 0 %}
                           <div>
                              <p> </p>   
                           </div> 
                        {% else %}
                           <div class="calendar__number_passed">
                              <p>{{day}}</p> 
                           </div>
                        {% endif %} 
                     {% endif %}
                  {% elif today_year < year %}
                     {% if day == 0 %}
                        <div>
                           <p> </p>   
                        </div> 
                     {% else %}
                        <div class="calendar__number">
                           <a href="{% url 'pago' y=year m=actual_month_number d=day park_str=park %}">{{day}}</a>    
                        </div>
                     {% endif %}
                  {% else %}
                     {% if day == 0 %}
                        <div>
                           <p> </p>   
                        </div> 
                     {% else %}
                        <div class="calendar__number_passed">
                           <p>{{day}}</p>    
                        </div>
                     {% endif %}
                  {% endif %}
               {% endfor %}
            {% endfor %}  
      </div>
   </div>

</body>
</html>