
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
  <title>Calendar</title>
</head>
<body>
  <div class="calendar">
    <div class="calendar__picture">
      <h2>{{month_name}}, {{year}}</h2>

      <form action='/cal/{{actual_month_number}}' method='GET'>
         <button type='submit'>prev</button>
      </form>

      <form action='/cal/{{actual_month_number}}' method='GET'>
         <button type='submit'>next</button>
      </form>
         
    </div>
    <div class="calendar__date">
      <div class="calendar__day">M</div>
      <div class="calendar__day">T</div>
      <div class="calendar__day">W</div>
      <div class="calendar__day">T</div>
      <div class="calendar__day">F</div>
      <div class="calendar__day">S</div>
      <div class="calendar__day">S</div>
      {% for week in cal %}
         {% for day in week %}
            {% if actual_month_number > today_month_number %}  
               {% if day == 0 %}
                  <div>
                     <p> </p>   
                  </div> 
               {% else %}
                  <div class="calendar__number">
                     <a href="">{{day}}</a>    
                  </div>
               {% endif %}

            {% elif actual_month_number == today_month_number %}
               {% if day >= today_day_number  %}
                  <div class="calendar__number_passed">
                     <p>{{day}}</p>    
                  </div>
               {%elif day == 0%}
                  <div>
                     <p> </p>   
                  </div> 
               {% else %}
                  <div class="calendar__number">
                     <a href="">{{day}}</a>    
                  </div>
               {% endif %} 
               
            {% else %}
               {% if day == 0 %}
                  <div>
                     <p> </p>   
                  </div> 
               {% else %}
                  <div class="calendar__number_passed">
                     <p>{{day}}</p> 
                  </div>
               {% endif %} 

            {% endif %}
         {% endfor %}
      {% endfor %}  
  </div>
  
<footer>
   <p>{{actual_month_number}}</p>
   <p>{{today_month_number}}</p>

</footer>
  
</body>
</html>