<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/facturas.css' %}">
  <title>Log-In</title>
</head>
<body>
  {% include "default/header.html" %}

  {% for x in facturas %}
    <div class="card text-center">
      <div class="card-header">
        Usuario: {{user.nombre}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Factura Nro: {{x.id_factura}}</h5>
        <p class="card-text">Fecha de Compra: {{x.dtime}}</p>
        <p class="card-text">Precio ARS: {{x.total}}</p>
        <p class="card-text">Precio USD: {{x.total_usd}}</p>
        <a href="{% url 'pdf' id_f=x.id_factura name=user.nombre tot=x.total %}" class="btn btn-primary">Descargar PDF</a>
      </div>
    </div>
  {% endfor %}
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
  {% include "default/footer.html" %}
</body>
</html>
  
