<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/facturas.css' %}">
  <title>Log-In</title>
</head>
<body>
  {% include "default/header.html" %}
  <div class="card text-center">
    <div class="card-header">
      {{usuario}}
      Usuario
    </div>
    <div class="card-body">
      <h5 class="card-title">Factura{{x}}</h5>
      <p class="card-text">fechaFactura{{fechaFactura}}</p>
      <p class="card-text">Precio{{precio}}</p>
      <a href="#" class="btn btn-primary">Descargar PDF</a>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
  {% include "default/footer.html" %}
</body>
</html>
  
<!--{% for x in facturas_usuario %}

{% endfor %}-->