
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title> Home </title>
</head>
<body>
  {% include "default/header.html" %}
  <!-- Acá comienza la estructura de las cards -->
  <div class="body__page">

    <div class="container__card">

      <div class="card c1">
        <div class="icon">
          <div class="icon_image1">

          </div>
        </div>
        <div class="info__description">
          <p>
            Magic Kingdom es el reino mágico de Disney World en Orlando. 
            Un sueño para la mayor parte de los niños del planeta, 
            un lugar encantado donde encontrarse con los personajes de dibujos animados más famosos del mundo
          </p>
          <a href="{% url 'parque' park='Magic Kingdom' %}"><input type="buttom" value="Reservar Ahora" readonly></a>
        </div>
      </div>

      <div class="card c2">
        <div class="icon">
          <div class="icon_image2">
          </div>
        </div>
        <div class="info__description">
          <p>
            Epcot es un acrónimo de Experimental Prototype Community of Tomorrow, 
            una ciudad utópica del futuro planeada por Walt Disney, es diferente de los otros parques en que muchas de sus atracciones fueron construidas en base a un concepto de futuro y tecnología, 
            sostenibilidad y educación, en lugar de la reminiscencia a personajes o películas de Disney. 
          </p>
          <a href="{% url 'parque' park='EPCOT' %}"><input type="buttom" value="Reservar Ahora" readonly></a>
        </div>
      </div>

      <div class="card c3">
        <div class="icon">
          <div class="icon_image3">
          </div>
        </div>
        <div class="info__description">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Distinctio doloribus dolorem deserunt accusamus provident iure excepturi hic, 
            minima aliquid et est enim animi quis modi, facilis dolores esse iste voluptates! 
            Voluptatibus eligendi est, labore veritatis nemo fugit! Laudantium numquam quaerat 
            beatae atque error quam, eveniet minus cumque ullam molestiae et.
          </p>
          <a href="{% url 'parque' park='Hollywood Studios' %}"><input type="buttom" value="Reservar Ahora" readonly></a>
        </div>
      </div>

      <div class="card c4">
        <div class="icon">
          <div class="icon_image4">
          </div>
        </div>
        <div class="info__description">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Distinctio doloribus dolorem deserunt accusamus provident iure excepturi hic, 
            minima aliquid et est enim animi quis modi, facilis dolores esse iste voluptates! 
            Voluptatibus eligendi est, labore veritatis nemo fugit! Laudantium numquam quaerat 
            beatae atque error quam, eveniet minus cumque ullam molestiae et.
          </p>
          <a href="{% url 'parque' park='Animal Kingdom' %}"><input type="buttom" value="Reservar Ahora" readonly></a>
        </div>
      </div>

    </div>

  </div>
<!-- Acá finaliza la estructura de las cards -->
{% include "default/footer.html" %}
</body>
</html>