<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <title>Profile</title>
</head>
<body>
  {% include "default/header.html" %}
  <div class="login">
    <div class="login-page">
      <div class="form">
        <form class="login-form" action="/profile/user/" method="POST">
          {% csrf_token %}
          <input type="email" placeholder="email address" name="Email" required=""/>
          <input type="text" placeholder="new name" name="new_Nombre" required=""/>
          <input type="text" placeholder="new surname" name="new_Apellido" required=""/>
          <input type="password" placeholder="password" name="Password" required=""/>
          <input type="password" placeholder="new password" name="new_Password" required=""/>
          <button type="submit"><a href="user/">modify</a></button>
        </form>
        
      </div>
    </div>
  </div>

  {% include "default/footer.html" %}

</body>
</html>