<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Header.css' %}">
</head>
<body>
<!-- Acá comienza la estructura del navbar -->
<header class="header">
	<div class="logo">
		<a href="{% url 'home' %}"><img src="../../static/img/logo-disney3.png" alt=""></a>
	</div>
	<nav class="navbar">
		<ul class="nav-links">
			<li><a href="{% url 'signup' %}">Sign-up</a></li>
			<li><a href="{% url 'login' %}">Factura</a></li>
			<li><a href="{% url 'filter_disney' %}">Filter</a></li>
			<li><a class="a" href="\profile"><img src="../../static/img/sin_usuario.png" alt=""></a></li>
		</ul>
	</nav>

</header>
<!-- Acá finaliza la estructura del navbar -->

</body>
</html>