.cuerpo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, rgba(171, 146, 235, 0.6), rgba(109, 179, 242, .6)), url('../img/walle.jpg');
  background-size: cover, cover;
  background-position: center, right;
  background-repeat: no-repeat, no-repeat;
  }
  
.calendar {
  position: relative;
  width: 300px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(#000, 0.5);
  border-radius: 8px;
  overflow: hidden;
  scale: 1.2;
}
  
.calendar__picture {
  position: relative;
  height: 200px;
  padding: 20px;
  color: #fff;
  background: #262626 url("../img/castle.png") no-repeat left / cover;
  text-shadow: 0 6px 6px rgba(white, 1);
  box-sizing: border-box;
  
}
  
.calendar__date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}
  
.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
}
   
.calendar__number {
  display: flex;
  justify-content: center;
  height: 25px;
  width: 25px;
  color: #262626;
  background-color: turquoise;
  border-radius: 75%;
}

.calendar__number_passed {
  display: flex;
  justify-content: center;
  height: 25px;
  width: 25px;
  color: #262626;
  background-color: lightsalmon;
  border-radius: 75%;
}
   
.calendar__number a:hover {
  background-color: cyan;
  color: #fff !important;
  font-weight: 700;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transition: 0.1s;
  transform: scale(1.2);
  display: flex;
  align-items: center;
  justify-content: center;   
}

.calendar__number a{
  text-decoration-line: none;
  color: #262626;
}


.botones {
  display: inline-block;

}

.button {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border-color: #262626;
  background-color: lightskyblue;
  color: lightcyan;
  text-align: center;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
}


span:before{
  content:" "; 
  display:inline-block; 
  width: 174.5px;
}

  