@import url(https://fonts.googleapis.com/css?family=Roboto:300);
#barra{
  font-family: "Roboto";
  background-color: lightcoral;
  color: lightpink;
  margin:0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

#barra li{
  font-family: "Roboto";
  display: inline;
  margin: 0 20px;
}

.foot{
  font-family: "Roboto";
  background-color: lightcoral;
  color: lightpink;
}
