.bg-primary{
	  --bs-bg-opacity: 1 !important;
    background-image: linear-gradient(to left , rgba(103, 51, 235, 0.6) ,  rgba(109, 179, 242, .6) , rgba(119, 91, 189, 0.6), rgba(171, 146, 235, 0.6))!important;
    opacity:0.9 !important;
}